.container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  max-width: 1024px;
  min-width: 80%;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.aside {
  width: 30%;
  min-width: 200px;
  height: 100%;
  background-color: brown;
  padding: 20px;
}

.aside > h3 {
  color: white;
}
.aside > ul {
  padding-right: 5px;
  height: 95%;
  overflow-y: auto;
}

.aside > ul::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 5px;
}
.aside > ul::-webkit-scrollbar-track {
  border-radius: 5px;
}
.aside > ul::-webkit-scrollbar {
  width: 10px;
}
.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-direction: column;
}

.titulo {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: brown;
  font-weight: bold;
  font-size: 50px;
}

.imgGps {
  width: 300px;
}
.busca {
  width: 550px;
  height: 50px;
  display: flex;
  align-items: center;
}

.busca > input {
  width: 70%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  outline: none;
  border: 2px solid black;
  font-size: 20px;
  padding-left: 20px;
}

.busca > button {
  width: 30%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  outline: none;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  background-color: brown;
  color: white;
}

.resultado {
  width: 550px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
