.card {
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  padding: 15px;
}

.section {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
